/* Файл normalize.css */
@import url(../../vendor/normalize.css);

/* Шрифт Inter*/
@import url(../../vendor/fonts/raleway/raleway.css);

html {
  /* Плавная прокрутка */
  scroll-behavior: smooth;
}

/* Общий стиль для приложения */
.page {
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Шрифт для всей страницы */
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  /* Цветовая схема */
  --surface: #f5f5f5;
  --on-surface: #000;
  --on-surface-variant: #ccc;
  --on-surface-secondary: #eee;
  --surface-general: #fff;
  --primary: #ccdfdb;
  --secondary: #e9d9d8;
  --edit: #FFFDD0;
  /* Цвета страницы по умолчанию */
  background-color: var(--surface);
  color: var(--on-surface);
  /* Тени */
  --shadow-color: 0deg 0% 62%;
  --shadow-elevation-low: 0.8px 0.3px 1.3px hsl(var(--shadow-color) / 0),
    2.6px 1.1px 4.2px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-medium: 0.8px 0.3px 1.3px hsl(var(--shadow-color) / 0),
    4.7px 2px 7.7px hsl(var(--shadow-color) / 0.23),
    13.2px 5.7px 21.6px hsl(var(--shadow-color) / 0.47);
  --shadow-elevation-high: 0.8px 0.3px 1.3px hsl(var(--shadow-color) / 0),
    7.9px 3.4px 12.9px hsl(var(--shadow-color) / 0.11),
    14.3px 6.2px 23.4px hsl(var(--shadow-color) / 0.22);
}

/* Фокус интерактивных элементов по умолчанию */
a:focus,
button:focus,
input:focus {
  outline-offset: 5px;
  outline-color: var(--primary);
}

/* Родительский элемент всех компонентов */
.content {
  width: 100%;
  box-sizing: border-box;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0.5em;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: var(--shadow-elevation-low);
}
